/* .heading{
background-color: white;
}

.container{
  min-width: 1300px;
  color: white;
}

nav{
  display: inline;
}



@media screen and (min-width: 720px) and (max-width: 1299px) {

  .container{
   
  }

}*/

